.logo{
   color: #4E47FF; 
}
.header{
    background-image:url(../Assets/Hero-bg.png);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

nav{
    display:flex;
    justify-content: space-between;
}
li{
    list-style: none;
    margin-right: 20px;
} 
.sign{
    color: white;
    background-color: #4E47FF;
    padding:10px 20px;
    border:none;
    border-radius: 5px;
}
.focus{
    color: white;
    background-color: #4E47FF;
    border:none;
    border-radius: 5px;
    Padding: 10px 50px;
}
.banner{
    padding: 50px;
    text-align: center;
    margin: 30px;
    
} 

.banner h1{
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
    margin : 10px 20px;
}
.content h2{
    font-size:30px ;
}
.content p{
    font-size: 15px;
    color: #C3C8CD;
}
.imge{
    margin: 20px;
    border: 2px solid;
    border-radius: 20%;
    width: 300px;
    height: 200px;
}


   
                      
